
Segmentation_task/\.DS_Store

Segmentation_task/Segmentation\.nosync/

Segmentation_task/\.ipynb_checkpoints/

Segmentation_task/\.idea/

Segmentation_task/__pycache__/

Segmentation_task/A\. Segmentation\.zip

\.DS_Store
